// Colors
color-default = #f0f0f0
color-th = #686868
color-tr = #cdcdcd
color-block = #798ba9
color-footer = #e0e0e0
color-link = #e0e0e0
color-link-hover = #3cf
color-background = #3a3e4a
color-border = #6b6b6b
color-bullet = #3cf
color-logo1 = #888888
color-logo2 = #3cf
color-hr = #58606b

color-kbd = #444d56
color-kbd-background = #fafbfc
color-kbd-border = #c6cbd1
color-kbd-shadow = #959da5

color-commit-sha = #444d56
color-blob-num = #1b1f234d
color-blob-num-hover = #1b1f2399
color-blob-code = #24292e

highlight-background = #2d2d2d
highlight-border = #2d2d2d
highlight-current-line = #393939
highlight-selection = #515151
highlight-foreground = #cccccc
highlight-line-humber = #666
highlight-comment = #999999
highlight-red = #f2777a
highlight-orange = #f99157
highlight-yellow = #ffcc66
highlight-green = #99cc99
highlight-aqua = #66cccc
highlight-blue = #6699cc
highlight-purple = #cc99cc


// Fonts
font-sans = -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-weight = 400
font-size = 14px
line-height = 1.725

// Layout
block-margin = 50px
article-padding = 20px

// Media queries
mq-mobile = "screen and (max-width: 479px)"
mq-tablet = "screen and (min-width: 480px) and (max-width: 767px)"
mq-normal = "screen and (min-width: 768px)"